In [1]:
print('Hello World!')

Hello World!

In [2]:
input()

data science

'data science'

In [3]:
a=5
if a==5:
    print('a equals 5')

a equals 5

In [4]:
mystring = 'Hello'
print(type(mystring))

<class 'str'>

In [5]:
n=10
print(type(n))

<class 'int'>

In [6]:
n_float = 7.5
print(type(n_float))

<class 'float'>

In [9]:
# modulo operator

reminder = 17%10
print(reminder)

7

In [10]:
name = 'Alfred'
print('%s is a Data Scientist!' %name)

Alfred is a Data Scientist!

In [11]:
name.upper()

'ALFRED'

In [12]:
name.lower()

'alfred'

In [14]:
nstr = 'it is a nice day today'
nstr.capitalize()

'It is a nice day today'

In [15]:
name

'Alfred'

In [16]:
name.index('l')

1

In [17]:
name[2:5]

'fre'

In [18]:
name[2:6:2]

'fe'

In [19]:
alist = [3,4,5]
print(alist)

[3, 4, 5]

In [20]:
alist = ['Alfred', 2, 4]
print(alist)

['Alfred', 2, 4]

In [21]:
alist.append(10)
alist.append(15)
print(alist)

['Alfred', 2, 4, 10, 15]

In [22]:
alist.pop()
print(alist)

['Alfred', 2, 4, 10]

In [23]:
alist[0]

'Alfred'

In [24]:
alist[1:]

[2, 4, 10]

In [25]:
alist.append([1,2,3])
print(alist)

['Alfred', 2, 4, 10, [1, 2, 3]]

In [26]:
alist*2

['Alfred', 2, 4, 10, [1, 2, 3], 'Alfred', 2, 4, 10, [1, 2, 3]]

In [27]:
alist+alist

['Alfred', 2, 4, 10, [1, 2, 3], 'Alfred', 2, 4, 10, [1, 2, 3]]